adal
amqp
anyio
arabic-reshaper
asgiref
asn1crypto
async-timeout
asyncio
attrs
autobahn
Automat
azure-core
azure-storage-blob
billiard
bokeh
Brotli
celery
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
contourpy
crispy-bootstrap4
cron-descriptor
croniter
cryptography
cssselect2
daphne
Deprecated
Django
django-appconf
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-filter
django-htmx
django-oauth-toolkit
django-select2
django-storages
django-template-partials
django-timezone-field
django-widget-tweaks
djangorestframework
drf-spectacular
drf-spectacular-sidecar
drf-yasg
et-xmlfile
exceptiongroup
Faker
fonttools
gunicorn
html5lib
hyperlink
idna
incremental
inflection
isodate
Jinja2
jsonschema
jsonschema-specifications
jwcrypto
kombu
ldap3
lxml
MarkupSafe
msgpack
mysqlclient
numpy
oauthlib
openpyxl
oscrypto
packaging
pandas
pillow
prompt-toolkit
pyasn1
pyasn1_modules
pycparser
pydyf
pyHanko
pyhanko-certvalidator
PyJWT
pyOpenSSL
pypdf
pyphen
pypng
pyspnego
python-bidi
python-crontab
python-dateutil
python-dotenv
requests
uvicorn[standard]

